section {
    width: 100%;
    display: -webkit-flex;
    /*display: -ms-flex;*/
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 70px;
    /*background-color: #d21411;*/
}

/*
section.story {
    width: 100%;
    display: -webkit-flex;
    !*display: -ms-flex;*!
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #d21411;

}*/
