
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.57;
    color: rgba(65, 61, 75, 0.75);
}

.button {
    font-family: 'Hammersmith One', sans-serif;
}

h1,h2,h3,h4,h5, h6 {
    font-family: 'Playfair Display', serif;
}